mixin button(styleType, extraClasses, text, btnType, url)
    - styleType = styleType || 'accent'
    - btnType = btnType || 'button'
    - url = url || "#"

    case styleType
        when 'accent'
          - styleClass = 'button_accent'
        when 'transparent'
          - styleClass = 'button_transparent'
        when 'accent_transparent'
          - styleClass = ['button_transparent', 'button_transparent-accent']

    if (btnType === 'button')
        button(class=extraClasses class="button" class=styleClass) #{text}
    else
        a(href=url class=extraClasses class="button" class=styleClass) #{text}
