mixin card (cards)
    each card in cards
        if (card.type === 'withIcon')
            div(class=card.extraClasses).card
                div.card__heading
                    span.card__counter #{card.count}
                    span.card__title !{card.title}
                div.card__body
                    p.card__text.card__text_short !{card.text}
                    svg.card__icon
                        use(xlink:href=`./assets/images/svg/symbol/sprite.svg#`+card.iconId)
        else
            div(class=card.extraClasses).card
                div.card__heading
                    span.card__counter #{card.count}
                    span.card__title !{card.title}
                div.card__body
                    p.card__text !{card.text}